@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: oklch(96.7% 0.001 286.375);
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 0, transparent 2px);
  background-size: 24px 24px;
  /* bg-zinc-100 */
}

/* Ensure body transitions colors smoothly */
body {
  transition: background-color 0.3s ease;
}

html.dark body {
  background-color: oklch(14.1% 0.005 285.823);
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 0, transparent 2px);
  /* bg-zinc-900 */
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}